#floating-panel {
	position: absolute;
	top: 10px;
	z-index: 5;
	padding-left: 10px;
}

#bus-stats {
	position: absolute;
	top: 70%;
	left: 10px;
	z-index: 10;
	font-size: 1em;
}

#bus-logo {
	position: absolute;
	top: 70%;
	right: 10px;
	z-index:15;
}

div#map-canvas {
	height:100%;
}

.bus-name {
	font-size: 4em;
	letter-spacing: 2px;
	padding-top: 1em;
}
.bus-theme {
	font-size: 3em;
	letter-spacing: 4px;
}

@media (max-width:480px){
	.caption-top {
		font-size:72%
	}

	#bus-logo {
		position: absolute;
		top: 25px;
		left: 5px;
		z-index:15;
	}
}

.caption-top {
	vertical-align: top;
	padding-top: 6%;
}